.Homepage{
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.AnimationBg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
}
.loginbut{
    z-index: 1;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.Leaderbut{
    z-index: 1;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.HowTobut{
    z-index: 1;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.Backbut{
    z-index: 1;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}