.page{
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: auto;
}
.AnimationBg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
}

.Backbut{
    z-index: 1;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Identify{
    z-index: 1;
    position: absolute;
    top: 28%;
    left: 22%;
    transform: translate(-50%, -50%);
}
.Name{
    z-index: 1;
    position: absolute;
    top: 28%;
    left: 34%;
    transform: translate(-50%, -50%);
}
.Score{
    z-index: 1;
    position: absolute;
    top: 28%;
    left: 55%;
    transform: translate(-50%, -50%);
}
.sort{
    z-index: 1;
    position: absolute;
    top: 28%;
    left: 75%;
    transform: translate(-50%, -50%);
}