.page {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: auto;
}
.AnimationBg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
}

.Backbut1 {
  z-index: 1;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.table {
  z-index: 0;
  position: fixed;
  align-items: center;
  width: 19560px;
  height: 11680px;
  max-height: 70%;
  max-width: 70%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tablecontent {
  display: block;
  margin: auto;
  position: relative;
  top: 10%;
  transform: translate(50%, 50%);
}

.Identify {
  z-index: 1;
  position: absolute;
  height: auto;
  width: 20%;
  max-width: 280px;
  top: 23%;
  left: 27%;
  transform: translate(-50%, -50%);
}
.Name {
  z-index: 1;
  position: absolute;
  height: auto;
  width: 20%;
  max-width: 280px;
  top: 23%;
  left: 40%;
  transform: translate(-50%, -50%);
}
.Score {
  z-index: 1;
  position: absolute;
  height: auto;
  width: 20%;
  max-width: 280px;
  top: 23%;
  left: 58%;
  transform: translate(-50%, -50%);
}
.sort {
  z-index: 1;
  position: absolute;
  height: auto;
  width: 22%;
  max-width: 280px;
  top: 23%;
  left: 70%;
  transform: translate(-50%, -50%);
}
/* width: 245px;
  height: 478px; */
.tree {
  z-index: 0;
  position: absolute;
  width: auto;
  top: 30%;
  left: 2%;
  /* width: 245px;
  height: 478px; */
  height: 50%;
  max-width: 40%;
}
.trophy {
  position: absolute;
  width: auto;
  top: 50%;
  left: 86%;
  /* width: 245px;
  height: 478px; */
  height: 30%;
  max-width: 40%;
  z-index: 1;
  /* position: absolute;
  width: auto;
  top: 51%;
  left: 86%;
  /* height: 50%; */
  /* width: 226.5px;
  height: 270px;
  max-width: 50%; */
}
.moutain2 {
  z-index: -1;
  position: absolute;
  width: auto;
  top: 30%;
  left: 60%;
  height: 50%;
  max-width: 50%;
}
/* width: 978px;
height: 584px; */
.ldboard {
  z-index: 0;
  position: fixed;
  align-items: center;
  width: 19560px;
  height: 11680px;
  max-height: 70%;
  max-width: 70%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* width: 589px;
height: 139px; */
.ldbanner {
  z-index: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  /* width: auto; */
  top: 12%;
  left: 50%;
  width: 589px;
  height: 139px;
  max-width: 50%;
}
/*   width: 151px;
  height: 180px; */
.dirt1 {
  z-index: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.dirt2 {
  z-index: 0;
  position: absolute;
  bottom: 0;
  left: 0%;
  transform: translateX(-50%);
}
.dirt3 {
  z-index: 0;
  position: absolute;
  bottom: 0;
  left: 70%;
  transform: translateX(-50%);
}
.button-img {
  transition: filter 0.3s ease-in-out;
}

.button-img:hover {
  transform: scale(1.1);
}

.tablecontent {
  left:-30%;
  top: 4%;
}

div.leaderuser {
  
  font-family: "VT323", monospace;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  text-indent: 160px;
  padding: 0;
  margin: 0;
}
table td.tablecontent_id {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  text-indent: -5px;
  font-size: 24px;
}

table td.leadscore  {
  
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  text-indent: 190px;
  padding:0;
  margin:0;
  
}


/*

.mainprogress {
  height:60px;
  border:2px solid black;
}
.mainprogress div{
  padding:0;
  margin:0;
  float: left;
}
table {
  table-layout:fixed;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}

.Row {
  display: table;
  table-layout: fixed;
  border-spacing: 10px;
}

*/
* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
   box-sizing: border-box; 
}










.noPlayersMessage {
  position: fixed; /* Position relative to the viewport */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Centering trick */
  background-color: #fff; /* Background color */
  padding: 20px; /* Padding for better visibility */
  border: 1px solid #ccc; /* Border for visibility */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Drop shadow for depth */
}
@media screen and (max-width: 1700px) and (min-width : 1401px) {
  div.leaderuser {
    
    font-family: "VT323", monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    text-indent: 140px;
    padding: 0;
    margin: 0;
  }
  table td.tablecontent_id {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    text-indent: -5px;
    font-size: 24px;
  }

  table td.leadscore  {
    
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    text-indent: 140px;
    padding:0;
    margin:0;
    
  }

}

@media screen and (max-width: 1400px) and (min-width : 1301px) {

  .Identify {
    z-index: 1;
    position: absolute;
    height: auto;
    width: 20%;
    max-width: 280px;
    top: 23%;
    left: 26%;
    transform: translate(-50%, -50%);
  }
  .Name {
    z-index: 1;
    position: absolute;
    height: auto;
    width: 20%;
    max-width: 280px;
    top: 23%;
    left: 37%;
    transform: translate(-50%, -50%);
  }
  .Score {
    z-index: 1;
    position: absolute;
    z-index: -1;
    top: 23%;
    left: 60.5%;
    width: 100%;
    object-fit: cover;
  }

  .Backbut1 {
    z-index: 1;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  table td.tablecontent_id {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    text-indent: -5px;
    font-size: 24px;
  }
  div.leaderuser {
    
    font-family: "VT323", monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    text-indent: 95px;
    padding: 0;
    margin: 0;
  }
  table td.leadscore  {
    
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    text-indent: 130px;
    padding:0;
    margin:0;
    
  }
  .tree {
    z-index: 0;
    position: absolute;
    width: auto;
    top: 30%;
    left: 2%;
    /* width: 245px;
    height: 478px; */
    height: 50%;
    max-width: 40%;
  }
  .trophy {
    position: absolute;
    width: auto;
    top: 50%;
    left: 81%;
    /* width: 245px;
    height: 478px; */
    height: 30%;
    max-width: 40%;
    z-index: 1;
    /* position: absolute;
    width: auto;
    top: 51%;
    left: 86%;
    /* height: 50%; */
    /* width: 226.5px;
    height: 270px;
    max-width: 50%; */
  }


}

@media screen and (max-width: 1300px) and (min-width : 1000px) {

  
.Identify {
  z-index: 1;
  position: absolute;
  height: auto;
  width: 20%;
  max-width: 280px;
  top: 23%;
  left: 18%;
  transform: translate(-50%, -50%);
}
  .Name {
    z-index: 1;
    position: absolute;
    height: auto;
    width: 20%;
    max-width: 280px;
    top: 23%;
    left: 33%;
    transform: translate(-50%, -50%);
  }
  .Score {
    z-index: 1;
    position: absolute;
    height: auto;
    width: 20%;
    max-width: 280px;
    top: 23%;
    left: 57%;
    transform: translate(-50%, -50%);
  }
  .sort {
    z-index: 1;
    position: absolute;
    height: auto;
    width: 20%;
    max-width: 280px;
    top: 23%;
    left: 73%;
    transform: translate(-50%, -50%);
  }
  
  .trophy {
    position: absolute;
    width: auto;
    top: 51.5%;
    left: 78%;
    /* width: 245px;
    height: 478px; */
    height: 28.5%; /*-5% */ 
    max-width: 38%;
    z-index: 1;

  }.tree {
    z-index: 0;
    position: absolute;
    width: auto;
    top: 35%;
    left: 2.5%;
    /* width: 245px;
    height: 478px; */
    height: 45.125%; /*-5% and then 5% more */
    max-width: 36.1%;
  }
  
  table td.tablecontent_id {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    text-indent: -73px;
    font-size: 24px;
  }
  div.leaderuser {
    
    font-family: "VT323", monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    text-indent: 70px;
    padding: 0;
    margin: 0;
  }
  table td.leadscore  {
    
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    text-indent: 160px;
    padding:0;
    margin:0;
    
  }
}
@media screen and (max-width: 999px) and (min-width : 851px) {

  
  .Identify {
    z-index: 1;
    position: absolute;
    height: auto;
    width: 10%;
    max-width: 280px;
    top: 23%;
    left: 14%;
    transform: translate(-50%, -50%);
  }
  .Name {
    z-index: 1;
    position: absolute;
    height: auto;
    width: 19%;
    max-width: 280px;
    top: 23%;
    left: 30%;
    transform: translate(-50%, -50%);
  }
  .Score {
    z-index: 1;
    position: absolute;
    height: auto;
    width: 19%;
    max-width: 280px;
    top: 23%;
    left: 50.5%;
    transform: translate(-50%, -50%);
  }
  .sort {
    z-index: 1;
    position: absolute;
    height: auto;
    width: 21%;
    max-width: 280px;
    top: 23%;
    left: 68.5%;
    transform: translate(-50%, -50%);
  }
  
  .trophy {
    position: absolute;
    width: auto;
    top: 54.5%;
    left: 76%;
    /* width: 245px;
    height: 478px; */
    height: 25.65%; /* -5%*/
    max-width: 34.2%;
    z-index: 1;

  }
  .tree {
    z-index: 0;
    position: absolute;
    width: auto;
    top: 37.5%;
    left: 1%;
    /* width: 245px;
    height: 478px; */
    height: 42.75%; /*-10% and then -5% more */
    max-width: 34.2%;
  }
  
  
  table td.tablecontent_id {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    text-indent: -50px;
    font-size: 24px;
  }
  div.leaderuser {
    
    font-family: "VT323", monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    text-indent: 25px;
    padding: 0;
    margin: 0;
  }
  table td.leadscore  {
    
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    text-indent: 90px;
    padding:0;
    margin:0;
    
  }

}

@media screen and (max-width: 850px) and (min-width :692px) {
  
  
  .Identify {
    z-index: 1;
    position: absolute;
    height: auto;
    width: 10%;
    max-width: 280px;
    top: 23%;
    left: 15%; /* -6% from above function*/
    transform: translate(-50%, -50%);
  }
  .Name {
    z-index: 1;
    position: absolute;
    height: auto;
    width: 18%;
    max-width: 280px;
    top: 23%;
    left: 31%;
    transform: translate(-50%, -50%);
  }
  .Score {
    z-index: 1;
    position: absolute;
    height: auto;
    width: 17%;
    max-width: 280px;
    top: 23%;
    left: 50.5%;
    transform: translate(-50%, -50%);
  }
  .sort {
    z-index: 1;
    position: absolute;
    height: auto;
    width: 18%;
    max-width: 280px;
    top: 22.75%;
    left: 67.5%;
    transform: translate(-50%, -50%);
  }
  
  .trophy {
    position: absolute;
    width: auto;
    top: 55.75%;
    left: 73%;
    /* width: 245px;
    height: 478px; */
    height: 24.3675%; /*-5% and then -5% more */
    max-width: 32.49%;
    z-index: 1;

  }
  .tree {
    z-index: 0;
    position: absolute;
    width: auto;
    top: 39.5%;
    left: 0%;
    /* width: 245px;
    height: 478px; */
    height: 40.6125%; /*-5% and then -5% more */
    max-width: 32.49%;
  }

  
/* width: 978px;
height: 584px; */
.ldboard {
  z-index: 0;
  position: fixed;
  align-items: center;
  width: 19560px;
  height: 11680px;
  max-height: 70%;
  max-width: 72%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ldbanner {
  z-index: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  /* width: auto; */
  top: 12%;
  left: 50%;
  width: 589px;
  height: 139px;
  max-width: 50%;
}

table td.tablecontent_id {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  text-indent: -35px;
  font-size: 24px;
}
div.leaderuser {
  
  font-family: "VT323", monospace;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  text-indent: 25px;
  padding: 0;
  margin: 0;
}
table td.leadscore  {
  
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  text-indent: 60px;
  padding:0;
  margin:0;
  
}

}
@media screen and (max-width: 691px) {
  
  .Identify {
    z-index: 1;
    position: absolute;
    height: auto;
    width: 11.5%;
    max-width: 280px;
    top: 23%;
    left: 10%;
    transform: translate(-50%, -50%);
  }
  .Name {
    z-index: 1;
    position: absolute;
    height: auto;
    width: 22%;
    max-width: 280px;
    top: 23%;
    left: 28%;
    transform: translate(-50%, -50%);
  }
  .Score {
    z-index: 1;
    position: absolute;
    height: auto;
    width: 22%;
    max-width: 280px;
    top: 23%;
    left: 51.5%;
    transform: translate(-50%, -50%);
  }
  .sort {
    z-index: 1;
    position: absolute;
    height: auto;
    width: 24%;
    max-width: 280px;
    top: 20.25%;
    left: 72%;
    transform: translate(-50%, -50%);
  }
  /* width: 245px;
    height: 478px; */
  .tree {
    z-index: 0;
    position: absolute;
    width: auto;
    top: 50%;
    left: 0%;
    /* width: 245px;
    height: 478px; */
    height: 30%;
    max-width: 30%;
  }
  .trophy {
    position: absolute;
    width: auto;
    top: 61%;
    left: 76%;
    /* width: 245px;
    height: 478px; */
    height: 19%; /*-5% */
    max-width: 28.5%; 
    z-index: 1;
  }
  
.tablecontent {
  top: 4%;
}
  
table td.tablecontent_id {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  text-indent: -50px;
  font-size: 22px;
  top: -5%;
}
div.leaderuser {
  
  font-family: "VT323", monospace;
  font-weight: 500;
  font-style: normal;
  font-size: 22px;
  text-indent: 0px;
  padding: 0;
  margin: 0;
}
table td.leadscore  {
  
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  text-indent: 65px;
  padding:0;
  margin:0;
  
}
.ldboard {
  z-index: 0;
  position: fixed;
  align-items: center;
  width: 19560px;
  height: 11680px;
  max-height: 70%;
  max-width: 75%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

}
@media screen and (max-width: 500px) {
  .page {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: auto;
  }
  .AnimationBg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
  }

  .Backbut1 {
    z-index: 1;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .Identify {
    z-index: 1;
    position: absolute;
    height: auto;
    width: 11.5%;
    max-width: 280px;
    top: 23%;
    left: 10%;
    transform: translate(-50%, -50%);
  }
  .Name {
    z-index: 1;
    position: absolute;
    height: auto;
    width: 22%;
    max-width: 280px;
    top: 23%;
    left: 28%;
    transform: translate(-50%, -50%);
  }
  .Score {
    z-index: 1;
    position: absolute;
    height: auto;
    width: 22%;
    max-width: 280px;
    top: 23%;
    left: 51.5%;
    transform: translate(-50%, -50%);
  }
  .sort {
    z-index: 1;
    position: absolute;
    height: auto;
    width: 24%;
    max-width: 280px;
    top: 20.25%;
    left: 72%;
    transform: translate(-50%, -50%);
  }
  /* width: 245px;
    height: 478px; */
  .tree {
    z-index: 0;
    position: absolute;
    width: auto;
    top: 50%;
    left: -7%;
    /* width: 245px;
    height: 478px; */
    height: 30%;
    max-width: 30%;
  }
  .moutain2 {
    z-index: -1;
    position: absolute;
    width: auto;
    top: 40%;
    left: 60%;
    height: 40%;
    max-width: 50%;
  }
  /* width: 978px;
  height: 584px; */
  .ldboard {
    z-index: 0;
    position: fixed;
    align-items: center;
    width: 19560px;
    height: 11680px;
    max-height: 60%;
    max-width: 77%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /* width: 589px;
  height: 139px; */
  .ldbanner {
    z-index: 0;
    position: absolute;
    width: auto;
    height: auto;
    top: 13.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 589px;
    height: 139px; */
    max-width: 53%;
  }
  /*   width: 151px;
    height: 180px; */
  .trophy {
    position: absolute;
    width: auto;
    top: 61%;
    left: 67%;
    /* width: 245px;
    height: 478px; */
    height: 19%; /*-5% */
    max-width: 28.5%; 
    z-index: 1;
  }
  
.tablecontent {
  top: 4%;
}
  
table td.tablecontent_id {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  text-indent: -40px;
  font-size: 20px;
  top: -5%;
}
div.leaderuser {
  
  font-family: "VT323", monospace;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  text-indent: -5px;
  padding: 0;
  margin: 0;
}
table td.leadscore  {
  
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  text-indent: 35px;
  padding:0;
  margin:0;
  
}

}
